#root {
  width: 100vw;
  font-family: "Roboto";
  height: 100vh;
}
body {
  margin: 0 auto;
  background-image: url("./src/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
