.flowers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 50px;
}

.flowers-grid {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-gap: 5px;
  position: relative;
}

.single-flower-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.single-flower-taken {
  background-color: red;
}

.difficulty-wrapper {
  display: flex;
  gap: 10px;
}

.difficulty {
  cursor: pointer;
}
